//-----------------------------------Fonts-------------------------------------------

@import "fonts";

$family-rubik-regular: "Rubik-Regular";
$family-rubik-light: "Rubik-Light";

$accent-font-size: 55px;
$accent-mob-font-size: 35px;

$card-font-size: 20px;

$main-font-size: 18px;
$main-mob-font-size: 15px;

$small-text-size: 14px;
$small-mob-text-size: 12px;

$main-line-height:    140%;
$second-line-height:  120%;

//-----------------------------------------------------------------------------------


//-----------------------------------Colors-------------------------------------------

$main-color:   #EFEFEF;
$second-color: #252A32;
$accent-color: #CF5507;
$second-accent-color: #001F29;

$main-text-color: #242D30;

$footer-color: #C5C5C5;

//-----------------------------------------------------------------------------------


//-----------------------------------Texts-------------------------------------------

//-- accent-text
@mixin accent-text($font-size) {
    font-family: $family-rubik-regular;
    font-size: $font-size;
    line-height: $second-line-height;
    color: $second-accent-color;
}

@mixin accent-text-desctop() {
    @include accent-text($accent-font-size);
}

@mixin accent-text-mobile() {
    @include accent-text($accent-mob-font-size);
}

//-- main-text
@mixin main-text($font-size) {
    font-family: $family-rubik-light;
    font-size: $font-size;
    line-height: $main-line-height;
    color: $main-text-color;
}

@mixin main-text-desctop() {
    @include main-text($main-font-size);
}

@mixin main-text-mobile() {
    @include main-text($main-mob-font-size);
}

//-- small-text
@mixin small-text($font-size, $color) {
    font-family: $family-rubik-light;
    font-size: $font-size;
    line-height: $main-line-height;
    color: $color;
}

@mixin small-text-desctop($color) {
    @include small-text($small-text-size, $color);
}

@mixin small-text-mobile($color) {
    @include small-text($small-mob-text-size, $color);
}

//-- footer-text
@mixin footer-text() {
    font-family: $family-rubik-regular;
    font-size: $small-text-size;
    line-height: $main-line-height;
    color: $second-accent-color;
}

//-- fields-buttons
@mixin fields-buttons-text($font-size, $color) {
    font-family: $family-rubik-light;
    font-size: $font-size;
    line-height: $main-line-height;
    color: $color;
}

//-- card-text
@mixin card-text() {
    font-family: $family-rubik-regular;
    font-size: $card-font-size;
    line-height: $second-line-height;
    color: $main-color;
}

//-----------------------------------------------------------------------------------

*,
::after, 
::before,
body {
    @include main-text-desctop();

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

input {
    @include main-text-desctop();

    background-color: $main-color;
    border: 1.35px solid $second-accent-color;
    padding: 22px 12px 22px 25px;
    color: $second-accent-color;
    border-radius: 10px;

    width: 281px;
    height: 69px;

    &::placeholder {
        color: $second-accent-color;
    }
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@mixin block-content() {
    width: 83.33333333333333%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
