//-----------------------------------Fonts-------------------------------------------
@import "fonts";

$family-rubik-regular: "Rubik-Regular";
$family-rubik-light: "Rubik-Light";

$main-line-height: 140%;
$second-line-height: 120%;


//-----------------------------------------------------------------------------------