@import "/src/styles/main.scss";

.start-page__content {
    @include block-content();
    align-items: start;
    flex-direction: column;
    height: 100%;

    .start-page__main-info {
        display: flex;
        flex-direction: row;
        // height: 85vh;
        gap: 60px;
        padding: 80px 0;

        .start-page__text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 40%;
            margin-top: 80px;

            .start-page__title {
                @include accent-text-desctop();
            }

            .start-page__sub-title {
                @include main-text-desctop();
                width: 60%;
            }
        }

        .start-page__images {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: end;
            width: 60%;
            height: 100%;

            .start-page__img1 {
                width: 40%;
                min-width: 282px;
                min-height: 327px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .start-page__img2 {
                width: 40%;
                min-width: 306px;
                min-height: 539px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .start-page__button {
                position: absolute;
                top: 667px;
                right: 9%;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 22px 76.5px;
                    background-color: $second-color;
                    color: $main-color;

                    width: 281px;
                    height: 69px;
                    border-radius: 10px;
                }
            }

            .start-page__side-text {
                width: 17%;
                height: 15%;
                min-height: 120px;

                position: absolute;
                top: 575.32;
                left: 30%;

                aspect-ratio: auto 1/2;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.start-page__services {
    height: 85vh;
    min-height: 788px;
    width: 100%;
    background: url('../../assets/img/background.jpg') top center;
    background-size: 102% 100%;

    .start-page__services-content {
        @include block-content();
        align-items: start;
        height: 100%;
        margin: 0 auto;
        gap: 24px;

        padding-top: 100px;
        padding-bottom: 100px;

        .start-page__services-main-block {
            background-color: $main-color;
            border-radius: 10px;
            height: 100%;

            .start-block__services-info {
                padding: 60px 60px 35px 76px;

                display: flex;
                flex-direction: column;
                gap: 52px;


                .start-block__services-main-text {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .start-block__services-header {
                        @include accent-text-desctop();
    
                        font-size: 40px;
                    }

                    .start-block__services-list ul{
                        padding-left: 18px;
                    }
                }

                .start-block__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        padding: 22px 72px;
                        background-color: $second-color;
                        color: $main-color;

                        width: 281px;
                        height: 69px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .start-page__service-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 100%;
        }
    }
}

.start-page__contact-form {
    height: 50vh;
    width: 100%;
    min-height: 476px;
    background-color: $main-color;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 60px;

    &::after {
        content: ' ';
        background-image: url('../../assets/img/right.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;  
        height: 100%;  
        width: 200px;  
    }

    &::before {
        content: ' ';
        background-image: url('../../assets/img/left.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;  
        height: 100%;  
        width: 200px; 
    }

    .start-page__contact-form-content {
        height: 70%;
        width: 62.01388888888889%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;

        .start-page__contact-form-info {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .start-page__contact-form-text {
                @include accent-text-desctop();

                text-align: center;
            }
        }
    }
}

.start-page__contact-form-button {
    width: 281px;
    height: 69px;

    :hover {
        cursor: pointer;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
    
        background-color: $second-color;
    
        span {
            @include accent-text-desctop();
    
            font-size: $main-font-size;
            line-height: $main-line-height;
            color: $main-color;
        }
    }
}